body {
  background-color: #282c34; 
  text-align: center;
  background-image: url("images/background-shatter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 60px;
  color: #e8e8e8;
}


#coutdown {
  font-size: 60px;
  color: #e8e8e8;
}



